# 临时文件
__pycache__
.vscode
config.yml
device.json
session.token
go-cqhttp.exe
emoticon.json
test.py
output.wav
ffmpeg
chatgpt

# 模型文件
*.pth
st_model

# 隐私文件
琪亚娜0.txt
琪亚娜2.txt
琪亚娜R-18.txt
琪亚娜记忆.txt
琪亚娜记忆0.txt

# 日志
cqLogs
data
download
logs
memory